*{
    box-sizing: 0;
    margin: 0%;
    padding: 0%;
}
body {
    background-repeat: no-repeat;
    overflow-y: hidden;
    background-image: url("Background.png");
    background-size: cover;
}

.col a {
    
    text-decoration: none;
    margin-left: 70px;
}

h1 {
    margin-left: 50px;
    padding-top: 250px;
    width: 1541px;
    height: 104px;
    font-size: 125px;
    letter-spacing: 1px;
    color: #4a5d8b;
    font-weight: 700;
}

p {
    margin-left: 50px;
    padding-top: 40px;
    letter-spacing: 1px;
    color: #4a5d8b;

}

.btn {
    border-color: #b3eaff !important;
    color: #4a5d8b !important;
    background-color: #b3eaff !important;
    border-radius: 30px !important;
    display: flex;
    margin-left: 50px;
}

#armud{
    margin-left: 50px;

}
#armud i {
    margin-left: 5px;
    color: #4a5d8b;
    margin-top: 120px;
}